*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}
body{
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 0px;
    margin-left: .5rem;
    width: 100%;
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0266fc;
    overflow: hidden;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: transparent;
    background-color: var(--bg-color);
    padding: 28px;
    transition: all 0.5s ease;
    height: 10%;
    border-radius: 5px;
    margin-left: 1rem;
}
.logo{
    display: flex;
    align-items: left;
    font-size: 2rem;
    font-weight: 900;
    border-radius: 50px;
    text-align: left;
}
.navbar{
    display: flex;
    text-align: center;
    margin-right: 5rem;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar a.active{
    color: var(--main-color);
}

  .main1{
    display: flex;
    align-items: center;
}

.main1 a{
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .5s ease;
}
.cart{
    display: flex;
    align-items: center;
}
.cart i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7pxS;
}
.main a:hover{
    color: red;
}
label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: left;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/*hero*/
.content{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
    margin-top: 10px;
}
.content h1{
    font-size: 32px;
    color: blue;
    text-align: left;
    line-height: .3;
    margin-top: 20px;
}
.content h2{
    font-size: 3.5rem;
    margin-bottom: 3rem;
    color: rgb(1, 255, 255);
    font-weight: 700;

}
.content p{
    font-size: 16px;
    letter-spacing: 2.5px;
    line-height: 1.5;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 25px 15px 30px 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: #fff;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    border: 2px solid #fff;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}
.btn:hover{
    background: rgb(247, 72, 3);
    color: var(--main-color);
    border-color: var(--main-color);
}
.cart{
    display: flex;
    align-items: center;
}
.cart i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7pxS;
}

@media (max-width: 1280px){
    .header .logo{
        left: 8%;
    }
}
      
@media (max-width: 900px){
    .header .logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    .navbar a{
        font-size: 17px;
    }
}
@media (max-width: 860px){
    label #btn{
        display: block;
    }
}
    .navbar{
        position: fixed;
        width: 60%;
        height: 50vh;
        background: var(--main-color);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
        display: block;
        margin: 50px 0;
        line-height: 80px;
    }
    .navbar a{
        font-size: 20px;
    }
    #check:checked ~ .navbar{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .main1{
        width: 100%;
        height: 100%;
        margin: 30% 0;
        margin-top: 1px;
        text-align: left;


    }
    .content h1{
        font-size: 14px;
    }
    .content h2{
        font-size: 16px;
    }
    .content p{
        font-size: 13px;
        text-align: center;
        
}
/*END HOME SECTION*/

/*START ABOUT US SECTION*/


.page-section{
    background:#000;
    color: orange;
  }
  .page-section .container{
    height: 100%;
  }
  .timeline {
    position: relative;
    padding: 0;
    list-style: none;
  }
  .timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
  }
  .timeline > li {
    position: relative;
    min-height: 80px;
    margin-bottom: 10px;
  }
  .timeline > li:after, .timeline > li:before {
    display: table;
    content: " ";
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 90px;
    height: 90px;
    margin-left: 0;
    text-align: center;
    color: white;
    border: 7px solid #e9ecef;
    border-radius: 100%;
    background-color: #ffc800;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
  .timeline > li:last-child {
    margin-bottom: 0;
  }
  .timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
    margin-top: 0;
    color: inherit;
  }
  .timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
    text-transform: none;
  }
  .timeline .timeline-body > ul,
  .timeline .timeline-body > p {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }
  }
  @media (min-width: 992px) {
    .timeline > li {
      min-height: 150px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 18px;
      line-height: 26px;
      margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 20px 20px;
    }
  }
  @media (min-width: 1200px) {
    .timeline > li {
      min-height: 260px;
    }
    .timeline > li .timeline-panel {
      padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
      width: 100px;
      height: 100px;
      margin-left: -85px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      padding: 0 100px 20px 20px;
    }
  }
  
  .page-section {
    padding: 2rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
  
  }
  
  .text-center {
      text-align: center !important;
  }
  
  .page-section h2.section-heading, .page-section .section-heading.h2 {
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 1rem;
  }
  .text-uppercase {
      text-transform: uppercase !important;
  }
  
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
      font-size: 1rem;
      font-weight: 400;
      font-style: italic;
      font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      margin-bottom: 4rem;
  }
  
  .text-muted {
      --bs-text-opacity: 1;
      color: #6c757d !important;
  }
  
  p {
      line-height: 1.75;
  }
  @media (min-width: 1400px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1320px;
  }
}
  @media (min-width: 1200px){
  .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1140px;
  }
}
  @media (min-width: 992px){
  .container-lg, .container-md, .container-sm, .container {
      max-width: 960px;
  }
}
  @media (min-width: 768px){
  .container-md, .container-sm, .container {
      max-width: 720px;
  }
}
  @media (min-width: 576px){
  .container-sm, .container {
      max-width: 540px;
  }
}
  .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
  }
  *, *::before, *::after {
      box-sizing: border-box;
  }
  
/*About us Ends*/
/*OUR PRODUCTS STARTS*/
.Container1{
    width: 100%;
    height: 100vh;
    background: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.swiper{
    width: 40%;
    height: 60vh;
    margin-left: 1rem;
}
.swiper-slide img{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #29fd53;
}
.col-2{
    width: 60%;
    height: 100vh;
    margin: 6rem 1rem 1rem 3rem;
    padding: -1rem ;

    
}
.col-2 h1{
    font-size: 4rem;
    line-height: 1rem;
    margin: 1.5rem 0;
    color: black;

}
.col-2 h2{
    font-size: 2rem;
    line-height: 1rem;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin: 2rem 0;
    color: rgb(4, 252, 4);
    text-align: center;
    margin-top: 2rem;
}
.col-2 select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.col-2 h3{
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.col-2 select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.col-2 h4{
    margin: 20px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #f9004d;
}
.col-2 input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
.col-2 input:focus{
    outline: none;
}
.a{
    text-decoration: none;
    color: #555;
}
.col-2 i{
    color:#ff523b;
    margin-left: 10px;
}
.col-2 h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    margin-top: 10px;
    color: rgb(110, 8, 243);
    text-align: left;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0,5s;
}
.btn:hover{
    background: #565656;
}
@media only screen and (max-width:1150px){
    .Container1{
        width: 100%;
        height: auto;
        display: block;
        flex-direction: column;
        margin-top: 0px;
    }
    .swiper{
        width: 80%;
        float: none;
        display: block;
        height: 50vh;
        margin-left: 0px;
        margin-bottom: 1px;
    }
    .swiper-slide img{
        width: 100%;
        height: 100vh;
    }
    .col-2{
        width: 100%;
        height: auto;
        margin-top: 1rem;
        display: block;
    }
    .col-2 h1{
        font-size: 2.5rem;
        line-height: 2rem;
        margin: 3rem 1rem;
        
    }
    .col-2 h2{
        line-height: 1.5rem;
        margin: 2rem 0;
        font-size: 1rem;
        letter-spacing: .3rem;
        text-align: left;
        line-height: .2px;
    }
    .col-2 p{
        margin: 8px;
        width: 80%;
    }
}

@media only screen and(max-width: 900px){
    .products{
        width: 100%;
        display: block;
        align-items: left;
    }
    swiper{
        width: 100%;
        flex-direction: column;
        display: block;
    }
    .swiper-slide img{
        width: 100%;
    }
    .col-2{
        width: 100%;
        height: auto;
        margin: 0;
        font-size: 18px;
    }
    .col-2 h2{
        font-size: 1rem;
        line-height: 1rem;
        margin: 2rem 0;
        font-size: 1rem;
        text-align: left;
    }
    .col-2 h3{
        margin: 0px 10px;
        font-size: 1rem;
        font-weight: bold;
        text-align: left;
    }
}

/*OUR PRODUCTS ENDS*/

/*START CONTACT US*/
.box-wrapper{
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0px;
    border-radius: 8px;
    height: 100vh;
    margin-bottom: 0px;

}
.info-wrap{
    width: 40%;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 8px;
    background: rgb(2, 145, 145);
    color: rgb(255, 255, 255);
}
.info-title{
    text-align: left;
    font-size: 30px;
    letter-spacing: 1px;
}
.info-subtitle{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: .5px;
    line-height: 26px;
}
.info-details{
    list-style: none;
    margin:60px 0px;
}
.info-details li{
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i{    
    background: rgb(255, 0, 106);
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a{
    color: #00ff4c;
    text-decoration: none;
}
.info-details li a:hover{
    color: rgb(255, 0, 0);
}
.social-icons{
      list-style: none;
      text-align: center;
      margin: 30px 0px;
}
.social-icons h1{
    margin-bottom: 10px;
    color: #000;

}
.social-icons li{
    display: inline-block;
}
.social-icons li i{
    background: rgb(255, 4, 4);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 24%;
    margin: 5px 0px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover{
    background: #fff;
    color: #000;
}
.form-wrap{
    width: 60%;
    float: right;
    padding: 5px 25px 10px 25px;
    border-radius: 8px;
    background: #e9f3f2;
    margin-bottom: 0;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 30px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    width: 100%;
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #5cb5fa, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child{
    width: 96%;
}
.submit-button{
    width: 80%;
    height: 60px;
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-align: center;
    background: #6e77f7;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
    align-items: center;
    margin-top: 3rem;
    margin-left: 5rem;
}
.submit-button:hover{
    background: #27729d;
}

/*Responsive-css*/

@media only screen and (max-width: 1010px){
    .box-wrapper{
        width: 100%;
        margin: auto;
        margin-top: 0px;
       border-radius: 0px;
       display: block;
       margin-bottom: 50px;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: auto;
        float: none;
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px ;
        font-size: 22px;
    }
    .info-details li{
        display: block;
        text-align: center;
    }
    .form-wrap{
        margin-bottom: 5rem;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child,
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
}

/*FOOTER STARTS*/
.footer-dark {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
  }
  
  .footer-distributed{
      background: #666;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
      width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed .logo1{
      color:  #ffffff;
      font: normal 36px 'Open Sans', cursive;
      margin: 0;
      height: 40px;
      width: 40px;
      border-radius: 100%;
  }
  
  .footer-distributed h3 span{
      color:  lightseagreen;
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
      color:  #ffffff;
      margin: 20px 0 12px;
      padding: 0;
  }
  
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
      color:  #222;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  
  /* Footer Center */
  
  .footer-distributed .footer-center{
      width: 35%;
  }
  
  .footer-distributed .footer-center i{
      background-color:  #33383b;
      color: #ffffff;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #ffffff;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  
  .footer-distributed .footer-center p a{
      color:  lightseagreen;
      text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
      width: 20%;
  }
  
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #ffffff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color:  #33383b;
      border-radius: 2px;
  
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
  
      margin-right: 3px;
      margin-bottom: 5px;
  }
  
  /* If you don't want the footer to be responsive, remove these media queries */
  
  @media (max-width: 880px) {
    section  {
        width: 100%;
        text-align: center;
        flex-direction: column;
        font-size: 14px;
        height: 121.8vh;
    }
  
      .footer-distributed{
          font: bold 14px sans-serif;
      }
  
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
  
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  
  }
  
